h1 {
    font-size: 65px;
    color: rgb(0, 102, 255);
    font-family: sans-serif;
    text-decoration: underline;
}

ul {
    background-color: rgb(0, 102, 255);
    text-align:center;
}

p {
  font-weight: 600;
  font-size: 3em;
  color: white;
}

body {
  background-color: rgb(181, 236, 218);
  font-size: 16px;
  font-style:oblique;
}

.bg-color {
    background-color: rgb(185, 100, 219);
}

#lista-1 {
  background-color: yellow
}

#lista-2 {
  background-color: red
}

#lista-3 {
  background-color:brown
}